.header{
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    width: 100%;
    color: #fff;
    z-index: 10;
}

.lista{
    color: #fff;
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
}

.element{
    color: #fff;
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    
    .header{
        position: absolute;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .lista{
        font-size: 12;
        gap: 10px;
    }

@media screen and (max-width: 480px) {
    
    .header{
        font-size: 20px;
        
    }
    
    .lista{
        font-size: 18px;
    }
}
}